body{
  font-family:Arial;
}

.card-collection{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.addBoxShadow{
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem;
}

h1,h2,h3,h4,h5,p{
  text-align: center;
}
